.todo-item {
  width: 526px;
  height: 68px;
  display: flex;
  font-size: 25px;
  border: 0px;
}
.spacing {
  height: 64px;
  width: 30px;
  background-color: white;
}
.nospacing {
  height: 0px;
  width: 0px;
}
.todo-edit-item {
  width: 426px;
  height: 68px;
  font-size: 25px;
  border: 0px;
}
.todo-init-item {
  width: 500px;
  height: 62px;
  font-size: 25px;
  border: 0px;
}
